<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="dashboard-header">
      <a class="logo" href="/"><strong>EXPENSE TRACKER</strong></a>
      <nav>
          
          <a class="header-login" href="/users/register">Sign Up</a>
          <a class="header-logout" href="/users/logout">Sign In</a>
      </nav>
  </header>
  <figure >
    <img src="/images/track-expenses-process-monitoring-keeping-600w-2135890391.webp" alt="" width="100%">
  </figure>
  </body>
  
</html>
